

img:hover{
    background-color:grey
}

.blue {
    height: 1000px;
    width: 1000px;
    color:blue;
    display: inline-block;
}

.icon{
    border:black;
    border-style: solid;
    border-width: 6px
}

.youtube_hyp:hover{
    background-color:rgba(219, 3, 3, 0.616);
}

.mail_hyp:hover{
    background-color:rgba(216, 160, 17, 0.658);
}

.status_hyp:hover{
    background-color:rgba(129, 129, 129, 0.685);
}
  
.back_hyp:hover{
    background-color: rgba(128, 128, 128, 0.514);
}


.status:hover{
    background-color: gray;

}